
/*Εντοπίζουμε το επιλεγμένο κάθε φορά label,το χρωματίζουμε και 
τονίζουμε τη γραμματοσειρά*/
input[type="radio"]:checked+label{
  font-weight:bold;
  background-color:grey;
}

/*Εντοπίζουμε το επιλεγμένο κάθε φορά label και δίνουμε τις ανάλογες
διαστάσεις στις εικόνες και τις αντίστοιχες παραγράφους*/
#thumbnails[type="radio"]:checked~ul li img{
    width:180px;
    height: 150px;
}

#thumbnails[type="radio"]:checked~ul li p{
    width:200px;
}


#medium[type="radio"]:checked~ul li img{
    width:380px;
    height: 300px;
}

#medium[type="radio"]:checked~ul li p {
    width:400px;
}
    

#large[type="radio"]:checked~ul li img{
    width:780px;
    height: 532px;
}

#large[type="radio"]:checked~ul li p{
    width:800px;
}

/*Μεγένθυση και χρωματισμός του πρώτου γράμματος του header του 
body*/
body h1:first-letter{
  font-size:200%;
  text-transform:lowercase;
  color:red;
}

/*Απομάκρυνση των γραμμών κάτω απο τα links στις εικόνες,κατάλληλος
χρωματισμός,επιλογή μεγέθους και γραμματοσειράς*/
div ul li p a {
  text-decoration:none;
  color:#ffffff;
  font-family:"Times New Roman",Times;
  font-size:14px;
} 

/*Τοποθέτηση των αντικειμένων των li (εικόνες και links) το ένα αριστερά 
του επόμενου*/
div ul li {
  float: left;
  padding-right: 5px;
  list-style-type: none;
}

/*Τοποθέτηση κενών ανάμεσα στις εικόνες*/
div ul li img {
  border: 10px  solid;
}

/*Τοποθέτηση των παραγράφων (links) μέσα στα li,επιλογή κεφαλαίων γραμμάτων 
και "κόψιμο" των κειμένων όταν ξεπερνούν τα όρια καθώς και επιλογή ημιδιάφανου
φόντου*/
div ul li p {
  position: relative;
  padding-top:1px;
  bottom: 70px;
  z-index: 100;
  text-align:center;
  text-transform:uppercase;
  word-wrap:break-word;
  background-color:rgba(00,00,00,0.7);
  height:49px;
}

/*Τοποθέτηση άνω ορίου (γκρι γραμμή)*/
div ul {
  padding-top:10px;
  margin-left:10px;
  border-top-style:solid;
  border-color:grey;
  margin-right:10px;
  clear: left;
}

/*Τοποθέτηση του δεύτερου header αριστερά των radio (αντί για από πάνω όπως 
ήταν αρχικά)*/
div h2{
  color:grey;
  float: left;
  position: relative;
  bottom: 23px;
}

/*Τοποθέτηση της footer παραγράφου στο κάτω μέρος της σελίδας καθώς και του 
κάτω ορίου (γκρι γραμμή) */
#footer {
  margin-left:10px;
  border-top-style:solid;
  border-color:grey;
  margin-right:10px;
  position: bottom;
  bottom: 0;
  text-align:center;
  clear: both;
}

/*Προσπάθεια εμφάνισης της footer παραγράφου όπως στα screenshots*/
body>p{
  clear:both;
  position:relative;
  padding-left:150px; 
}
p small {
  clear:both;
  position:relative;
  bottom:-15px;
  left:-450px; 
}